body {
    background-color: #36383e;
    margin: 0px;
}

header {
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 25px;
    padding-top: 25px;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #242529;
    display: flex;
    justify-content: space-between;
}

.lijn {
    color: #17181a;
}

.lijnheader {
    background-color: #242529;
    
    height: 1px;
}



header_text1 {
    font-size: 24px;
    margin-left: 20px;
    font-weight: 900;
    padding-left: 15px;
}

.navbar {
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav {

    display: flex;
    align-items: center;
    background-color: #333;
    justify-content: center;

}

.artikel_1 {
    background-color: #242529;
    display: grid;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 10cm;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.artikel_1_text_head {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;

}

.artikel_1_text {
    color: whitesmoke;
    font-size: 17px;

}

.artikel_2 {
    background-color: #242529;
    display: grid;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.artikel_2_text_head {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;

}

.artikel_2_text {
    color: whitesmoke;
    font-size: 17px;

}

article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.darkmode {
    background-color: #36383e;
}

.lightmode {
    background-color: white;
}

.icons {
    font-size: 35px;
    margin-right: 25px;

}
