body {
    background-color: #36383e;
}

header {
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 25px;
    padding-top: 25px;
    color: whitesmoke;
    font-family: sans-serif;
    background-color: #242529;
    display: grid;
}

.lijn {
    color: #17181a;
}

lijnheader {
    background-color: #242529;
    height: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

headet_text1 {
    font-size: 24px;
    margin-left: 20px;
}